@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
  background: linear-gradient(180deg, #324d82 0%, #e58998 50%, #f0a68b 100%);
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

p,
body {
  margin: 0;
  min-width: 320px;
}
ul,
li {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  display: flex;
  text-decoration: none;
  color: inherit;
}
