@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
  background: #ffffff;
  min-height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

p,
body {
  margin: 0;
  min-width: 320px;
}
ul,
li {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  display: flex;
  text-decoration: none;
  color: inherit;
}
